.title {
	color: #33d6b6;
	font-weight: 900;
}
.rotateleft {
	transform: rotate(-5deg)
}
.rotateright {
	transform: rotate(5deg)
}
.skewleft {
	transform: rotate(-10deg)
}
.rskewright {
	transform: rotate(10deg)
}
.center{
    width: 120px;
    height: 100px;
    line-height: 70px;
    max-width: 100%;
    text-align: center
}
ul.nodisplay{
	display: none;
}
div.display:hover ul.nodisplay {
	display: block;
	color: Black;
}
div.c1{
	color: Black;
}
div.c2:hover div.c1{
	color: Blue;
}