.bg{
	background-image: url(img/bg.jpg);
	background-position: center;
}
.title {
	color: #33d6b6;
	font-weight: 900;
}
.rotateleft {
	transform: rotate(-5deg)
}
.rotateright {
	transform: rotate(5deg)
}
.skewleft {
	transform: rotate(-10deg)
}
.rskewright {
	transform: rota<font color="#9e151b" size=6>te(10deg)
}
.center{
    width: 120px;
    height: 100px;
    line-height: 70px;
    max-width: 100%;
    text-align: center
}
ul.nodisplay{
	display: none;
	margin-left:500px;
}
div.display:hover ul.nodisplay {
	display: block;
	color: Black;
}
div.c1{
	color: Black;
}
div.c2:hover div.c1{
	color: Blue;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.cursor_help{
	cursor: help;
}
li.line{
	display: inline;
	background-color: #128fe3;
}
li.line:hover {
	background-color: #23597d;
}
.active {
	display: inline;
	background-color: #ffffff;
}